.App {
 /* background: linear-gradient(135deg, rgba(30, 58, 138, 0.7), rgba(30, 64, 175, 0.7)); */
 background: linear-gradient(to bottom right, #1e3a8a, #2563eb);

 color: white;
 min-height: 100vh;
}
.App-header {
  text-align: center;
  padding: 2rem;
}



a {
  color: #38bdf8;
}



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
